<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

<style>
    body{
        background-color: #1f2222;
    }
</style>

</head>
<body >
<div class="container">

    <h1 th:if="${people.empty}"  style="color:#ff0000">No users yet! </h1>
    <br/>
    <div>
        <table border = "3" class="table table-dark table-striped">
            <thead class="dark-table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${people}">
                <td th:href="@{/people/{id}(id=${person.getId()})}"
                    th:text="${person.getName()}"> </td>
                <td th:text="${person.getEmail()}"></td>
                <td> <a th:href="@{/people/{id}/edit(id=${person.getId()})}"> <button type="button" class="btn btn-primary">Edit</button></a> </td>
                <td> <a th:href="@{/people/{id}(id=${person.getId()})}"><button type="button" class="btn btn-primary">Delete</button></a> </td>

            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <hr/>
    <p style="text-align: center">
        <button><a href="/people/new" type="button" class="btn btn-primary">Create new person</a></button>
    </p>
</div>
</body>
</html>